#form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    height: 100vh;
}

#form .form-card{ 
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.11 );
}


#form .form-card .card-title{ 
    background-color: #00b89c;
    padding: 2rem;
 }

 #form .form-card .content{ 
    padding: 3rem 2.5rem 5rem;
 }

 #form .form-card input {
     display: block; 
     width: 100%;
     font-size:1rem;
     margin-bottom: 1.75rem;
     padding: 0.25rem 0;
     border: none;
     border-bottom: 1px solid #dbdbdb;
     transition: all 0.5s;
 }

 #form .form-card #email:hover{ border-color: #7a7a7a; }

 #form .form-card #email:active, #form .form-card #email:focus{ border-color: #7a7a7a; }

 #form .form-card button{
     cursor: pointer;
     font-size: 1.2rem;
     color: #00d1b2;
     border-radius: 4rem;
     display: block;
     width: 100%;
     background: transparent;
     border: 2px solid #00d1b2;
     padding: 0.9rem 0 1.1rem;
     transition: color 0.5s, border-color 0.5s;
 } 

 #form .form-card button:hover, #form .form-card button:focus{
     color: #009e86;
     border-color: #009e86;
 }

 #form .form-card button:active{
     transform: translateY(1px);
 }

input:focus,
button:focus{ outline: none;}

h5{ margin-top: 40px;}

ul{ margin:0 !important }
ul li{ 
    list-style: none;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 10px;
}
ion-icon{ font-size: 20px;}
.notification{ margin-bottom: 10px;}



 